
:root {
  --bg-color: #ffffff42;

  --cols: 10;
  --rows: 10;
  --tile-size: 45px;
  --border-r: 5px;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(105,105,246);
  background: linear-gradient(90deg, rgba(105,105,246,1) 0%, rgba(125,250,250,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App */

.App {
  background-color: var(--bg-color);
  border-radius: calc(var(--border-r) * 2 );
  box-shadow: 5px 5px 10px #00000009, -4px -1px 10px #0000001e;

  --col-side: calc(var(--tile-size) * 4);
  --col-center: calc((var(--tile-size) * 10) + 30px);
  --grid-height: calc(var(--tile-size) * 10);

  width: calc(var(--tile-size) * (4 + 1 + 10 + 1 + 4));
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;

  display: grid;

  grid-gap: 40px;
  /* Defines three columns of `--col-side`, `--col-center`, and `--col-side` widths. */
  grid-template-columns: var(--col-side) var(--col-center) var(--col-side);
  /* Defines three rows of `100px`, `--grid-height`, and 100px. */
  grid-template-rows: 100px var(--grid-height) 100px;

  grid-template-areas: 
  "h h h"
  ". c l"
  "f b .";
}

/* Header */

.App-header {
  grid-area: h;
}

/* Buttons */

.buttons {
  grid-area: b;
  align-self: start;
  display: flex;
  justify-content: space-around;
}

button.fill-button, button.reset-button {
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:0.16em solid rgba(255,255,255,0);
  border-radius: 1em;
  box-sizing: border-box;
  color:#FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
  cursor: pointer;
  height: 50px;
  width: 100px;
  font-size: 1.2rem;
  border-color: var(--bg-color);
  font-family: 'Nunito';
}

button.fill-button {
  background-color:#9a4ef18f
}

button.reset-button {
  background-color: #f14ebd8c;
}

button.fill-button:hover {
  background-color: #8242cad8
}

button.reset-button:hover {
  background-color: #d444a7d2;
}

/* Color Picker */

.picker {
  grid-area: l;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.picker > input {
  width: 40px;
  height: 300px;
  background-color: var(--bg-color);
  border-color: var(--bg-color);
  border-radius: var(--border-r);
  cursor: crosshair;
}

/* Grid */

.Grid {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  grid-gap: 1px;
  align-self: flex-start;
  grid-area: c;
  background-color: var(--bg-color);
  border: solid 10px var(--bg-color);
  border-radius: var(--border-r);
}

.Grid > div {
  width: var(--tile-size);
  height: var(--tile-size);
}

/* Footer */

.wrapper {
  grid-area: f;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.wrapper .icon {
  position: relative;
  background-color: var(--bg-color);
  color: var(--bg-color);
  border-radius: 50%;
  padding: 10px;
  margin: 15px;
  width: 10px;
  height: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* 
.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
} */

/* .wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
} */

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
}

/* .wrapper .icon:hover span {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
} */

.wrapper .github:hover {
  background-color: #94eca38e;
  color: #ffffff;
}

@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
