
:root {
  --bg-color: #ffffff42;

  --cols: 10;
  --rows: 10;
  --tile-size: 45px;
  --border-width: 2px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(105,105,246);
  background: linear-gradient(90deg, rgba(105,105,246,1) 0%, rgba(125,250,250,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App */

.App {
  background-color: var(--bg-color);
  border-radius: 10px;
  /* box-shadow: ; */

  --col-side: calc(var(--tile-size) * 4);
  --col-center: calc((var(--tile-size) * 10) + 30px);
  --grid-height: calc(var(--tile-size) * 10);

  width: calc(var(--tile-size) * (4 + 1 + 10 + 1 + 4));
  margin: auto;
  margin-top: 30px;

  display: grid;

  grid-gap: 40px;
  /* Defines three columns of `--col-side`, `--col-center`, and `--col-side` widths. */
  grid-template-columns: var(--col-side) var(--col-center) var(--col-side);
  /* Defines three rows of `100px`, `--grid-height`, and 100px. */
  grid-template-rows: 100px var(--grid-height) 100px;

  grid-template-areas: 
  "h h h"
  ". c l"
  ". b .";
}

/* Header */

.App-header {
  grid-area: h;
}

/* Buttons */

.buttons {
  grid-area: b;
  align-self: start;
  display: flex;
  justify-content: space-around;
}

button.fill-button, button.reset-button {
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:0.16em solid rgba(255,255,255,0);
  border-radius: 1em;
  box-sizing: border-box;
  color:#FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
  cursor: pointer;
  height: 50px;
  width: 100px;
  font-size: 1.2rem;
}

button.fill-button {
  background-color:#9a4ef1d8
}

button.reset-button {
  background-color: #f14ebdd2;
}

button.fill-button:hover,button.reset-button:hover {
  border-color: var(--bg-color);
}

/* Color Picker */

.picker {
  grid-area: l;
  display: flex;
  justify-content: start;
  align-items: center;
}

.picker > input {
  width: 40px;
  height: 300px;
  border-color: var(--bg-color);
  border-radius: 5px;
}

/* Grid */

.Grid {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  grid-gap: 1px;
  align-self: flex-start;
  grid-area: c;
  background-color: var(--bg-color);
  border: solid 10px var(--bg-color);

}

.Grid > div {
  width: var(--tile-size);
  height: var(--tile-size);
}